{% extends 'base.html' %}

{% block head %} 
<title>Books</title>
{% endblock %}

{% block body %} 


<!-- Wrapper -->
<div class="wrapper">

    <!-- Boxes -->
    <section class="boxes">
        {% for book in books %}
        <div class="box">
            <div class="box-content">
                <h3><a href="/main-page/book/{{ book.id }}" class="box-btn">{{ book.title }}</a></h3>
                <a href="/main-page/book/{{ book.id }}"><img class="book-img" src="{{ book.img }}" alt=""></a>
                <h5>Author: {{ book.writer }}</h5>
                <h5>Genre: {{ book.genre }}</h5>
                <p><a href="/add-book/{{ book.id }}"><i class="far fa-heart"></i> Add book</a></p>
            </div>
        </div>
        {% endfor %}
    </section>

    <!-- Footer -->
    <section class="footer">
        <p> MyLibrary &copy; 2020</p>
    </section>
</div>

{% endblock %}